body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    padding: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.myinputs{
    display:block;
    margin:20px 0;
    padding: 8px;
    width: 250px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.error{
    border: 2px solid red;
}

.success{
    border: 2px solid green;
}

#registermessage{
    font-weight: bold;
}

.error-text {
    color: red;
    font-size: 12px;
    display: none;
}

button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

div{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    text-align: center;
    margin-top: 50px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}